# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules

# misc
.DS_Store
.env
npm-debug.log

# vs code
.vscode

# App
src/App/*.js
src/settings.json
src/testdata/*
todo.md

#Site
static/index.html
